ZG_RPC_URL=https://evmrpc-testnet.0g.ai
ZG_INDEXER_RPC=https://indexer-storage-testnet-turbo.0g.ai
ZG_KV_ENDPOINT=http://3.101.147.150:6789
ZG_PRIVATE_KEY=your_0g_wallet_private_key
ZG_COMPUTE_BASE_URL=https://api.0g.ai/v1
ZG_COMPUTE_API_KEY=your_0g_compute_key
ZG_COMPUTE_MODEL=qwen3.6-plus

AXL_WITNESS_PORT=9002
AXL_VERIFIER_PORT=9012
AXL_PROPAGATOR_PORT=9022
AXL_MEMORY_PORT=9032
AXL_WITNESS_KEY=./axl-configs/witness-private.pem
AXL_VERIFIER_KEY=./axl-configs/verifier-private.pem
AXL_PROPAGATOR_KEY=./axl-configs/propagator-private.pem
AXL_MEMORY_KEY=./axl-configs/memory-private.pem

KEEPERHUB_API_KEY=from_plugin_login
KEEPERHUB_WORKFLOW_ID=aegis.execute_remedy

ENS_PARENT_NAME=aegis.eth
ENS_REGISTRY_ADDRESS=0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e
ENS_NAME_WRAPPER_ADDRESS=0xD4416b13d2b3a9aBae7AcD5D6C2BbDBE25686401
ENS_PUBLIC_RESOLVER_ADDRESS=0x231b0Ee14048e9dCcD1d247744d114a4EB5E8E63
ENS_PRIVATE_KEY=your_ens_registrar_wallet_key

AEGIS_COURT_ADDRESS=deployed_on_0g_testnet
AGENT_REGISTRY_ADDRESS=deployed_on_0g_testnet
CHAIN_ID=16600
